In [70]:
import pandas as pd

In [71]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [72]:
df

     Category Species  Weight   Height   Width  Length1  Length2  Length3
0           1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...     ...     ...      ...     ...      ...      ...      ...
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6   Smelt    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6   Smelt    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6   Smelt    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6   Smelt    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [74]:
df.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [75]:
df.isnull().sum()

Category    0
Species     0
Weight      0
Height      0
Width       0
Length1     0
Length2     0
Length3     0
dtype: int64

In [76]:
df.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [77]:
y = df['Weight']

In [78]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [79]:
#  X = df.drop(['Weight'],axis = 1)
X = df[['Category','Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [80]:
X

     Category   Height   Width  Length1  Length2  Length3
0           1  11.5200  4.0200     23.2     25.4     30.0
1           1  12.4800  4.3056     24.0     26.3     31.2
2           1  12.3778  4.6961     23.9     26.5     31.1
3           1  12.7300  4.4555     26.3     29.0     33.5
4           1  12.4440  5.1340     26.5     29.0     34.0
..        ...      ...     ...      ...      ...      ...
154         6   2.0904  1.3936     11.5     12.2     13.4
155         6   2.4300  1.2690     11.7     12.4     13.5
156         6   2.2770  1.2558     12.1     13.0     13.8
157         6   2.8728  2.0672     13.2     14.3     15.2
158         6   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 6 columns]

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.7, random_state = 2529)

In [82]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((111, 6), (48, 6), (111,), (48,))

In [83]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [84]:
model.fit(X_train,y_train)

LinearRegression()

In [85]:
model.intercept_

-684.4235918478537

In [86]:
model.coef_

array([ 35.19634977,  52.19372157, -37.13869125,  11.2218449 ,
        78.11233002, -59.11783139])

In [87]:
y_pred = model.predict(X_test)

In [88]:
y_pred

array([ 475.93351307,  525.81910195,   77.63275849,  881.10235121,
        160.9685664 ,  255.94371856,  361.87029932,  358.87068094,
        499.83411068, -150.07834151, -115.91810869,  428.65470115,
        114.67533404,  812.51385122,  586.5071178 ,  273.38510858,
        579.63900729,  225.18126845,  639.26068037,   85.00820599,
        136.92159041,  -87.7778087 ,  629.97231046,  732.63097812,
        859.8720695 , -166.76928607,  342.04209934,  722.92198147,
        321.44827179,  787.98248357,  486.93194673,  541.89982795,
        376.74813045,  624.81211202, -170.11945033,  917.76513801,
        792.26439518,  -21.15655005,  300.24921659,  914.07325473,
        621.05636286,  934.17373986,  676.85479574,  653.92304403,
        615.51226767,  336.61090622,  505.75519147,  -33.53283763])

In [89]:
from sklearn.metrics import mean_absolute_error, r2_score

In [91]:
mean_absolute_error(y_test,y_pred)

99.58910366731813

In [92]:
r2_score(y_test,y_pred)

0.83982461599445

### Thus the accuracy score is around 83%